/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Custom Colors */
:root {
	--green: rgb(1, 98, 66);
	--green-hover: rgb(1, 153, 102);
	--blue: #232785;
	--blue-hover: #3f42b1;
	--yellow: #fb9f00;
}
*, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
/* Header Section */
header {
	background-color: #ececec;
	border-bottom: 1px solid rgb(179, 179, 179);
	top: 0;
}

#headerLogoSection {
	width: 70%;
}
#logo:hover {
	transition: 0.3s all;
	transform: scale(1.05);
}
#headerLogoImg {
	width: 80px;
}
#verticalBar {
	width: 2px;
	height: 80%;
	border-radius: 100%;
	background: var(--yellow);
}
#titleDiv {
	font-family: 'STIX Two Text', serif;
	color: var(--green);
}
#titleDiv h1 {
	letter-spacing: .3rem;
}

#hamburgerDiv {
	width: 30%;
	
}
#hamburger {
	color: var(--blue);
	padding: 5px;
	border: 2px solid var(--blue);
	border-radius: 8px;
	height: fit-content;
	width: 50px;
	min-width: 50px;
	height: 50px;
	min-height: 50px;
	transition: 0.4s all;
	z-index: 4;
}
#hamburger:hover {
	transform: scale(1.15);
}
#fa {
	font-size: 2rem;
	width: 36px;
	height: 36px;
}

nav {
	z-index: 3;
	width: 30%;
	top: 0;
	background: var(--blue);
	height: 100%;
	transition: 1s all;
	transition-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	overflow: hidden auto;
}
nav.hidden {
	right: -30%;
}
nav.visible {
	right: 0px;
}
.navLink a {
	display: block;
	color: white;
	font-size: 1.5rem;
	width: 100%;
	padding: 5px 10px 5px 20px;
	transition: 0.3s all;
}
.navLink a:hover {
	background: var(--blue-hover);
	color: white;
	transform: translateX(-10px);
}
#admissionInnerLinks li a {
	font-size: 1.2rem;
}
#angleIcon {
	width: 16px;
	transition: 0.3s all;
	color: white;
}
.admissionLinksHidden {
	display: none;
}
.admissionLinksVisible {
	display: block;
}
#socialLinks a {
	color: white;
	font-size: 2rem;
	width: 25%;
	transition: 0.3s all;
}
#socialLinks a svg {
	display: inline-block;
	width: 100%;
}
#socialLinks a svg:hover {
	transition: 0.3s all;
	transform: translateX(-5px);
}
#socialLinks a:nth-child(1) svg:hover {
color: #0c86ef;
}
#socialLinks a:nth-child(2) svg:hover {
color: #1DA1F2;
	} 
#socialLinks a:nth-child(3) svg:hover {
	color: #24af3a;
}
#socialLinks a:nth-child(4) svg:hover {
	color: #FF0000;
}

#navBtns a {
	border-radius: 10px;
	transition: 0.3s all;
	font-size: 1.3rem;
	font-weight: 600;
	color: black;
	background-color: white;
	cursor: pointer;
}
#navBtns a:hover {
	transform: translateX(-5px);
	color: white;
}
#navBtns #loginLink {
	border: 2px solid var(--yellow);
}
#navBtns #loginLink:hover {
	background-color: var(--yellow);
}
#navBtns #signupLink {
	border: 2px solid var(--green);
}
#navBtns #signupLink:hover {
	background-color: var(--green);
}


/* Section 1 */
#sec1 {
	background: url(../images/bg1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	height: 90vh;
	position: relative;
	z-index: -1;
}
#sec1::before {
	content: "";
	height: inherit;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.787);
	position: absolute;
	top: 0;
	left: 0;
}
#slogan {
	z-index: 1;
}
#slogan h1 {
	font-size: 8rem;
	letter-spacing: 0.4rem;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
}

/* Footer */
footer #footerRow1 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	font-family: 'Roboto', sans-serif;
}
.footerVerticalBars {
	width: 5px;
	height: 70%;
	border-radius: 100%;
	background-color: var(--blue);
	margin: auto;
}
#footerLogoSection {
	text-align: center;
}
#footerLogoImg {
	width: 150px;
}
#footerAddressSection {
	font-size: 1.1rem;
}
.footerHeadings {
	position: relative;
	width: fit-content;
	/* testing */
	background-color: red;
}
.footerHeadings::after {
	z-index: 1;
	content: "";
	background-color: var(--yellow);
	width: 70%;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 100%;
}
.footerNavLinks a {
	color: white;
	font-size: 1.2rem;
	display: inline-block;
	width: 100%;
	transition: 0.3s all;
	font-weight: 500;
	position: relative;
	padding-left: 20px;
	/* testing */
	background-color: red;
}
.footerNavLinks a:hover {
	background-color: white;
	color: var(--blue);
}
.footerNavLinkIcons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	color: #212529;
	transition: 0.3s all;
}
.footerNavLinks a:hover .footerNavLinkIcons {
	color: var(--blue);
	left: 8px;
}

#newsletterNameDiv, #newsletterEmailDiv {
	border: 2px solid black;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
}
#newsletterNameInput, #newsletterEmailInput {
	outline: none;
}